body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
header,
footer,
img,
a,
a:hover,
a:active,
a:visited,
table,
tr,
td,
th,
form,
input,
button,
select,
textarea {
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
  margin: 0;
  padding: 14px 16px;
  overflow: hidden;
  background-color: #333;
  color: white;
  text-align: center;
}

header {
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #333;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header img.logo {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  height: 100%;
  vertical-align: middle;
  width: 46px;
  height: 46px;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header ul li a:hover {
  background-color: #111;
}

header ul li.loggedIn {
  display: none;
}

body.loggedIn header ul li.loggedIn {
  display: inline-block;
}

body.loggedIn header ul li.loggedOut {
  display: none;
}

.content {
  padding: 10px;
}

.blurb {
  /* text-align: center; */
  background-color: #ececec;
  border-color: #b3b3b3;
  border-style: dotted;
  border-width: 1px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 20px auto;
  max-width: 500px;
  line-height: 150%;
  font-size: 14px;
}

.ctaWrapper {
  text-align: center;
}

.cta,
a.cta:hover,
a.cta:active,
a.cta:visited,
button.cta:hover,
button.cta:active,
button.cta:visited {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 150px;
  cursor: pointer;
}

.cta.small {
  padding: 10px;
}

.cta.blue {
  background-color: #214478 !important;
}

.cta.green {
  background-color: #217844 !important;
}

.cta.red {
  background-color: #c83737 !important;
}

.warning {
  font-style: italic;
  color: #c83737;
  font-size: 17px;
  text-align: center;
  line-height: 150%;
  padding: 0 0 20px 0;
}

.formWrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}

.formError {
  display: none;
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

.formSuccess {
  display: none;
  background-color: #217844;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #35c06d;
  border-width: 2px;
  border-style: solid;
}

input,
select,
textarea,
option {
  border-width: 1px;
  border-radius: 2px;
  padding: 7px 1%;
  width: 100%;
}

input.small {
  width: 40%;
  margin: 0 5% 0 5%;
}

input.disabled {
  background-color: #efefef;
}

.inputWrapper {
  padding: 0 0 20px 0;
}

.inputLabel {
  padding: 0 0 5px 0;
  color: #808080;
}

hr {
  margin: 30px 0;
}

body section#menuNotLoaded {
  display: none;
}

body section#message {
  display: none;
  background-color: #f0e68c;
  font-style: italic;
  color: #cd5c5c;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #ff0;
  border-width: 2px;
  border-style: solid;
}

body section#error {
  display: none;
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

body section#products {
  display: grid;
  grid: auto / repeat(4, 1fr);
  grid-gap: 40px 20px;
}

.product-card {
  position: relative;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.product-image {
  position: relative;
}

.product-image img {
  max-width: 100%;
  display: inline-block;
}

.product-image div.overlay {
  display: none;
}

.product-image:hover div.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-image div.overlay p {
  margin: 20px;
  color: #fff;
}

.product-info h5 {
  font-size: 18px;
}

.product-info {
  margin-top: auto;
}

.cardList {
  display: none;
}

.previousOrders {
  display: none;
}

table {
  border: none;
  width: 100%;
}

tr {
  width: 100%;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px dotted #000;
  padding: 10px;
  margin: 0 0 1000px 0;
  background-color: #efefef;
}

td {
  padding: 5px;
}

td a,
td a:hover,
td a:active {
  color: #2e5fa8;
  text-decoration: underline;
  cursor: pointer;
}
