{: _header.html}
<h1>Thank you!</h1>

<p>Our pizzaiolo is already in the kitchen to prepare your order. When it's ready our delivery service will take it in charge with love an care to ensure that it arrive on your table rapidly.</p>

<p>We had sent you an email with your order information. If you have no news of your pizzas in 15 or 20 minutes, do not hesitate to contact us.</p>


{: _footer.html}
