{: _header.html}
<h1>Create Your Account</h1>
<h2>Signup is easy and only takes a few seconds.</h2>

<div class="formWrapper">
  <form id="accountCreate" action="/api/v1/users" method="POST">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">Full name</div>
      <input type="text" name="fullName" placeholder="John Doe" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Address</div>
      <textarea name="address" placeholder="8775 Hanover St.
New City, NY 10956"></textarea>
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">email</div>
      <input type="text" name="email" placeholder="john.doe@example.com" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Choose a Password</div>
      <input type="password" name="password" placeholder="Make it a good one!" />
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta green">Sign up</button>
    </div>
  </form>
</div>
{: _footer.html}
